<%= link_to "Mostrar todo", products_path %>
<%  @categories.each do |category| %>
    <%= link_to category, products_path(category: category) %>
<% end %>

<% @products.each do |product|%>
    <h1> <%= product.title%> </h1>
    <p>Precio: $<%= product.price%> </p>
    <img src="<%= product.photo1%>" alt="<%= product.title%>">
    <%= link_to "Ver detalle", product_path(product) %>
<% end %>