
<% unless current_page?(cart_path) %>
    <%= link_to "Ir al carrito", cart_path %>
<% end %>

<% @products.each do |product|%>
    <h1> <%= product.title%> </h1>
    <p>Precio: $<%= product.price%> </p>
    <img src="<%= product.photo1%>" alt="<%= product.title%>">
    <%= link_to "Ver detalle", product_path(product) %>
<% end %>