<!DOCTYPE html>
<html>
  <head>
    <title>Techstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Techstore</h1>
    
    <% unless current_page?(products_path) %>
      <%= link_to "Volver a inicio", products_path %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
