<!DOCTYPE html>
<html>
  <head>
    <title>Techstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="flex justify-center items-center">
      <%= link_to image_tag("techstore.png", alt: "Logo Techstore"), products_path, class: "w-100 h-100" %>
    </div>

    <div class="my-5 flex flex-row flex-wrap justify-evenly">
      <%= link_to "Inicio", products_path, class: "text-4xl hover:text-5xl transition-all duration-400" %>

      <% if @categories.present? %>
        <% @categories.each do |category| %>
          <%= link_to "#{category}", products_path(category: category), class: "text-4xl hover:text-5xl transition-all duration-400" %>
        <% end %>
      <% end %>

      <%= link_to cart_path do %>
        <span class="cart-icon text-4xl hover:text-5xl transition-all duration-400">&#128722;</span>
        <% if @cart_products_count > 0 %>
          <span class="cart-count text-4xl hover:text-5xl transition-all duration-400"><%= @cart_products_count %></span>
        <% end %>
      <% end %>
    </div>

    <div>
      <% if current_page?(products_path) %>
        <% if @select_category.present? %>
          <h1 class="text-3xl flex justify-center items-center mt-10">Todos nuestros productos <%= @select_category %></h1>
        <% else %>
          <h1 class="text-3xl flex justify-center items-center mt-10">Todos nuestros productos</h1>
        <% end %>
      <% end %>
    </div>
    
    <div>
      <% flash.each do |type, message| %>
        <div>
          <%= message %>
        </div>
      <% end %>
    </div>
  
    <%= yield %>
  </body>
</html>
