<!DOCTYPE html>
<html>
  <head>
    <title>Techstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div>
      <%= link_to "Techstore", products_path %>
    </div>
    
    <% unless current_page?(products_path) %>
      <%= link_to "Volver a inicio", products_path %>
    <% end %>
    
    <% if current_page?(products_path) %>
      <% if @select_category.present? %>
        <h1>Todos nuestros productos <%= @select_category %></h1>
      <% else %>
        <h1>Todos nuestros productos</h1>
      <% end %>
    <% end %>
    
    <%= link_to "Mostrar todo", products_path %>
    
    <% if @categories.present? %>
      <% @categories.each do |category| %>
        <%= link_to "#{category}", products_path(category: category) %>
      <% end %>
    <% end %>

    <%= link_to cart_path do %>
      <span class="cart-icon">&#128722;</span>
      <% if @cart_products_count > 0 %>
        <span class="cart-count"><%= @cart_products_count %></span>
      <% end %>
    <% end %>
  
    <div>
      <% flash.each do |type, message| %>
        <div>
          <%= message %>
        </div>
      <% end %>
    </div>
  
    <%= yield %>
  </body>
</html>
